$primaryColor: #08a146;
$thmBlack: #515151;
$thmWhite: #ffffff;
$primaryFont: "Muli", sans-serif;

#pageTitle {
  background-image: url("../assets/parallex.jpg");
  background-origin: border-box;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: $thmWhite;

  .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 800;

    h2 {
      font-size: 24px;
    }

    p {
      font-size: 14px;
      color: $thmWhite;
    }
  }
}

#description {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    div:first-child {
      width: 60%;

      ul {
        li {
          padding-left: 15px;
          &:before {
            content: "";
            border-color: transparent $primaryColor;
            border-style: solid;
            border-width: 0.3em 0 0.3em 0.4em;
            display: block;
            height: 0;
            width: 0;
            left: -1em;
            top: 1em;
            position: relative;
          }
        }
      }
    }
    div:last-child {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      min-height: 250px;
      color: $thmBlack;
      font-weight: 800;
      h5 {
        font-size: 14px;
      }
      p {
        font-size: 18px;
        span {
          display: block;
          color: $primaryColor;
          font-size: 48px;
          margin: 20px;
          text-align: center;
        }
      }
    }
  }
}

#mission {
  background-image: url("../assets/parallex.jpg");
  background-origin: border-box;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: $thmWhite;

  .container {
    flex-direction: column;

    h3 {
      font-size: 24px;
      font-weight: 800;
    }

    p {
      text-align: center;
      color: $thmWhite;
      font-size: 16px;
      font-weight: 800;
      width: 80%;
    }
  }
}

#testimonials {
  .container {
    flex-direction: column;

    .card-container {
      width: 100%;
      flex-direction: row;

      .card {
        width: 450px;
        background-color: $thmWhite;
        border-left: $primaryColor solid 2px;
        // padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        div {
          margin: 20px;

          img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 50%;
          }

          h2 {
            font-size: 14px;
            font-weight: 600;
          }
          h3 {
            font-size: 12px;
            font-weight: 600;
          }
        }
      }
    }
  }
}
#getInTouch {
  background-image: url("../assets/parallex.jpg");
  background-origin: border-box;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: $thmWhite;

  .container {
    flex-direction: column;

    h3 {
      font-size: 24px;
      font-weight: 800;
    }

    p {
      text-align: center;
      color: $thmWhite;
      font-weight: 600;
      width: 460px;
      font-size: 14px;
    }
  }
}
