#description .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 768px) {
  #description .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

#description .container div:first-child {
  width: 60%;
}

#description .container div:first-child ul li {
  padding-left: 15px;
}

#description .container div:first-child ul li:before {
  content: "";
  border-color: transparent #08a146;
  border-style: solid;
  border-width: 0.3em 0 0.3em 0.4em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 1em;
  position: relative;
}

#description .container div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 250px;
  color: #515151;
  font-weight: 800;
}

@media (max-width: 768px) {
  #description .container div:last-child {
    margin-bottom: 60px;
  }
}

#description .container div:last-child h5 {
  font-size: 14px;
}

#description .container div:last-child p {
  font-size: 18px;
}

#description .container div:last-child p span {
  display: block;
  color: #08a146;
  font-size: 48px;
  margin: 20px;
  text-align: center;
}

#mission {
  background-image: url("../assets/parallex.jpg");
  background-origin: border-box;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: #ffffff;
}

#mission .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#mission .container h3 {
  font-size: 24px;
  font-weight: 800;
}

#mission .container p {
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: 800;
  width: 80%;
}

#testimonials .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#testimonials .container .card-container {
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#testimonials .container .card-container .card {
  width: 450px;
  background-color: #ffffff;
  border-left: #08a146 solid 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#testimonials .container .card-container .card div {
  margin: 20px;
}

#testimonials .container .card-container .card div img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

#testimonials .container .card-container .card div h2 {
  font-size: 14px;
  font-weight: 600;
}

#testimonials .container .card-container .card div h3 {
  font-size: 12px;
  font-weight: 600;
}

#getInTouch {
  background-image: url("../assets/parallex.jpg");
  background-origin: border-box;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: #ffffff;
}

#getInTouch .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#getInTouch .container h3 {
  font-size: 24px;
  font-weight: 800;
}

#getInTouch .container p {
  text-align: center;
  color: #ffffff;
  font-weight: 600;
  width: 460px;
  font-size: 14px;
}
/*# sourceMappingURL=about.css.map */