* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  margin: 0;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background-color: #ebebeb;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: #08a146;
}

body ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body a {
  color: #222222;
  text-decoration: none;
  cursor: pointer;
}

body p {
  font-family: "Muli", sans-serif;
  color: #515151;
  font-size: 14px;
  margin: 0;
  line-height: 20px;
}

body input,
body textarea {
  font-family: "Muli", sans-serif;
  outline: none;
  border: solid 1px #d7d7d7;
  background-color: #ffffff;
  padding: 10px 6px;
  margin: 0;
}

body input::-webkit-input-placeholder,
body textarea::-webkit-input-placeholder {
  color: #888888;
  font-size: 12px;
}

body input:-ms-input-placeholder,
body textarea:-ms-input-placeholder {
  color: #888888;
  font-size: 12px;
}

body input::-ms-input-placeholder,
body textarea::-ms-input-placeholder {
  color: #888888;
  font-size: 12px;
}

body input::placeholder,
body textarea::placeholder {
  color: #888888;
  font-size: 12px;
}

body .thmbtn {
  background-color: #08a146;
  color: #ffffff;
  font-size: 14px;
  outline: none;
  padding: 10px 18px;
  text-transform: uppercase;
  font-weight: 800;
  font-family: "Muli", sans-serif;
  border: 1px solid #08a146;
  border-radius: 2px;
  cursor: pointer;
  min-width: 160px;
  text-align: center;
}

body .readMore {
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  cursor: pointer;
  color: #08a146;
}

body .overlay {
  background-color: rgba(202, 202, 202, 0.3);
  width: 100%;
  height: 100%;
}

body section {
  position: relative;
}

body .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  body .center {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

body .mt-40 {
  margin-top: 40px;
}

body .ptb-30 {
  padding: 30px 0;
}

body .ptb-80 {
  padding: 80px 0;
}

body .secTitle {
  color: #08a146;
  font-size: 26px;
  font-weight: 800;
  margin: 0 0 40px;
}

body .bgImg {
  background-position: center;
  background-repeat: repeat;
  background-size: unset;
  background: linear-gradient(90deg, #ffffff 11px, transparent 1%) center, linear-gradient(#ffffff 11px, transparent 1%) center, #515151;
  background-size: 12px 12px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #ffffff;
  z-index: 99;
}

header .logo {
  padding: 10px;
}

@media (max-width: 768px) {
  header .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}

header .logo img {
  width: 200px;
}

header .logo .toggleNav {
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  header .logo .toggleNav {
    display: inline-block;
    background: transparent;
    border: none;
    font-size: 24px;
    color: #515151;
    position: absolute;
    right: 2px;
    top: 8px;
  }
}

@media (max-width: 768px) {
  header .cta {
    width: 100%;
  }
}

@media (max-width: 768px) {
  header .cta nav {
    display: none;
  }
}

header .cta nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  header .cta nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

header .cta nav ul li {
  padding: 20px;
  font-size: 14px;
}

@media (max-width: 875px) and (min-width: 768px) {
  header .cta nav ul li {
    padding: 13.5px;
  }
}

header .cta nav ul li:hover {
  color: #ffffff;
  background-color: #08a146;
}

header .cta nav ul li:hover a {
  color: #ffffff;
}

header .cta nav ul li a {
  color: #515151;
  font-weight: 700;
  font-size: 12px;
}

header .cta nav ul li.callCta:hover {
  background-color: #ffffff;
  color: #08a146;
}

header .cta nav ul li.callCta a {
  color: #08a146;
  font-weight: 800;
}

#banner .bannerImage {
  height: 80vh;
  background-origin: border-box;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Fading animation */
}

#banner .bannerImage .mySlides {
  display: none;
  width: 100%;
  height: 100%;
}

#banner .bannerImage .mySlides .img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#banner .bannerImage .mySlides .img h2 {
  color: #ffffff;
  font-size: 36px;
  width: 345px;
  padding-bottom: 30px;
}

@media (max-width: 425px) {
  #banner .bannerImage .mySlides .img h2 {
    max-width: 290px;
    font-size: 24px;
  }
}

#banner .bannerImage .dotContainer {
  position: absolute;
  bottom: 0%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#banner .bannerImage .dotContainer .dot {
  height: 3px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
  cursor: pointer;
}

#banner .bannerImage .active {
  background-color: #08a146 !important;
}

#banner .bannerImage .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

#aboutUs,
#joinOurTeam,
#completeSolution {
  background-image: url(../assets/pattern.png);
  background-repeat: no-repeat;
  background-position: 54% center;
  background-size: 300px;
  background-clip: border-box;
  background-blend-mode: lighten;
}

@media (max-width: 768px) {
  #aboutUs,
  #joinOurTeam,
  #completeSolution {
    background-position: 54% 60%;
  }
}

#aboutUs .container div,
#joinOurTeam .container div,
#completeSolution .container div {
  width: 450px;
  font-weight: 600;
}

#aboutUs .container div p,
#joinOurTeam .container div p,
#completeSolution .container div p {
  margin: 20px 0;
  font-weight: 400;
}

#aboutUs .container div .thmbtn,
#joinOurTeam .container div .thmbtn,
#completeSolution .container div .thmbtn {
  margin-top: 40px;
  text-align: center;
}

#aboutUs .container img,
#joinOurTeam .container img,
#completeSolution .container img {
  width: 400px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 768px) {
  #aboutUs .container img,
  #joinOurTeam .container img,
  #completeSolution .container img {
    margin-top: 100px;
  }
}

@media (max-width: 425px) {
  #aboutUs .container img,
  #joinOurTeam .container img,
  #completeSolution .container img {
    width: 100%;
  }
}

@media (max-width: 375px) {
  #aboutUs .container img,
  #joinOurTeam .container img,
  #completeSolution .container img {
    width: 300px;
  }
}

@media (max-width: 768px) {
  #aboutUs .center,
  #joinOurTeam .center,
  #completeSolution .center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#services .overlay .center {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#services .overlay .center .card-container {
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#services .overlay .center .card-container .card {
  width: 300px;
  background-color: #f9fafa;
  margin: 20px 0;
}

#services .overlay .center .card-container .card img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

#services .overlay .center .card-container .card div {
  margin: 20px;
}

#services .overlay .center .card-container .card div h5 {
  color: #515151;
  font-weight: 800;
  font-size: 18px;
  margin: 0;
  height: 30px;
}

#services .overlay .center .card-container .card div p {
  color: #515151;
  height: 80px;
}

#testimonials .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#testimonials .container .card-container {
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#testimonials .container .card-container .card {
  width: 450px;
  background-color: #ffffff;
  border-left: #08a146 solid 2px;
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#testimonials .container .card-container .card div {
  margin: 20px;
}

#testimonials .container .card-container .card div img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

#testimonials .container .card-container .card div h2 {
  font-size: 14px;
  font-weight: 600;
}

#testimonials .container .card-container .card div h3 {
  font-size: 12px;
  font-weight: 600;
}

#project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#project .projectList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px 0;
}

#project .projectList img {
  width: 300px;
  height: 400px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

#client {
  background-image: url("../assets/pattern.png");
  background-repeat: repeat;
}

#client .overlay {
  padding: 40px 0;
}

#client .overlay img {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  width: 100px;
  height: auto;
  vertical-align: middle;
}

#getInTouch {
  background-image: url("../assets/parallex.jpg");
  background-origin: border-box;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: #ffffff;
}

#getInTouch .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#getInTouch .container h3 {
  font-size: 24px;
  font-weight: 800;
  text-align: center;
}

#getInTouch .container p {
  text-align: center;
  color: #ffffff;
  font-weight: 600;
  width: 460px;
}

@media (max-width: 768px) {
  #getInTouch .container p {
    width: auto;
  }
}

#blog .container,
#valueSystem .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#blog .container .card-container,
#valueSystem .container .card-container {
  width: 100%;
}

#blog .container .card-container .card,
#valueSystem .container .card-container .card {
  width: 300px;
  background-color: #f9fafa;
  margin: 10px 0;
}

#blog .container .card-container .card img,
#valueSystem .container .card-container .card img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

#blog .container .card-container .card div,
#valueSystem .container .card-container .card div {
  margin: 20px;
}

#blog .container .card-container .card div h5,
#valueSystem .container .card-container .card div h5 {
  color: #515151;
  font-weight: 800;
  font-size: 18px;
  margin: 0;
  height: 60px;
}

#blog .container .card-container .card div p,
#valueSystem .container .card-container .card div p {
  color: #515151;
  height: 80px;
}

footer {
  padding: 30px 0;
  font-weight: 600;
}

footer p {
  width: 250px;
  line-height: 20px;
  font-weight: 600;
}

footer img {
  padding-bottom: 20px;
  width: 200px;
}

footer .container.center > div {
  margin: 10px;
}

footer .container.center {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .container.center .title {
  font-size: 14px;
  font-weight: 800;
  margin: 0 0 10px;
}

footer .container.center ul.footerCTA li a {
  font-size: 12px;
}

footer .container.center .address {
  padding-bottom: 10px;
}

footer .container.center .contactDetail a {
  display: block;
  font-size: 12px;
  padding: 2px 0px;
}

footer .container.center .subcribe {
  margin-top: 20px;
}

footer .container.center .subcribe input {
  margin-right: -5px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container::after {
  clear: both;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

#pageTitle {
  background-image: url("../assets/parallex.jpg");
  background-origin: border-box;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: #ffffff;
}

#pageTitle .overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 800;
}

#pageTitle .overlay h2 {
  font-size: 24px;
}

#pageTitle .overlay p {
  font-size: 14px;
  color: #ffffff;
}
/*# sourceMappingURL=index.css.map */