$primaryColor: #08a146;
$thmBlack: #515151;
$thmWhite: #ffffff;
$primaryFont: "Muli", sans-serif;

@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}
* {
  box-sizing: border-box;
}
body {
  font-family: $primaryFont;
  margin: 0;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: #ebebeb;
    // -webkit-border-radius: 10px;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    // -webkit-border-radius: 10px;
    // border-radius: 10px;
    background: $primaryColor;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  a {
    color: #222222;
    text-decoration: none;
    cursor: pointer;
  }

  p {
    font-family: $primaryFont;
    color: $thmBlack;
    font-size: 14px;
    margin: 0;
    line-height: 20px;
  }

  input,
  textarea {
    font-family: $primaryFont;
    outline: none;
    border: solid 1px #d7d7d7;
    background-color: $thmWhite;
    padding: 10px 6px;
    margin: 0;

    &::placeholder {
      color: #888888;
      font-size: 12px;
    }
  }

  .thmbtn {
    background-color: $primaryColor;
    color: $thmWhite;
    font-size: 14px;
    outline: none;
    padding: 10px 18px;
    text-transform: uppercase;
    font-weight: 800;
    font-family: $primaryFont;
    border: 1px solid $primaryColor;
    border-radius: 2px;
    cursor: pointer;
    min-width: 160px;
    text-align: center;
  }

  .readMore {
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 800;
    cursor: pointer;
    color: $primaryColor;
  }

  .overlay {
    background-color: rgba(202, 202, 202, 0.3);
    width: 100%;
    height: 100%;
  }

  section {
    position: relative;
  }

  .center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @media (max-width: 768px) {
      justify-content: space-around;
    }
  }

  .mt-40 {
    margin-top: 40px;
  }

  .ptb-30 {
    padding: 30px 0;
  }

  .ptb-80 {
    padding: 80px 0;
  }

  .secTitle {
    color: $primaryColor;
    font-size: 26px;
    font-weight: 800;
    margin: 0 0 40px;
  }

  .bgImg {
    background-position: center;
    background-repeat: repeat;
    background-size: unset;
    background: linear-gradient(90deg, $thmWhite 11px, transparent 1%) center,
      linear-gradient($thmWhite 11px, transparent 1%) center, $thmBlack;
    background-size: 12px 12px;
  }
}

// header
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: $thmWhite;
  z-index: 99;

  .logo {
    padding: 10px;

    @media (max-width: 768px) {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    img {
      width: 200px;
    }
    .toggleNav {
      display: none;
      cursor: pointer;

      @media (max-width: 768px) {
        display: inline-block;
        background: transparent;
        border: none;
        font-size: 24px;
        color: $thmBlack;
        position: absolute;
        right: 2px;
        top: 8px;
      }
    }
  }
  .cta {
    @media (max-width: 768px) {
      width: 100%;
    }

    nav {
      @media (max-width: 768px) {
        display: none;
      }

      ul {
        display: flex;

        @media (max-width: 768px) {
          flex-direction: column;
        }

        li {
          padding: 20px;
          font-size: 14px;

          @media (max-width: 875px) and (min-width: 768px) {
            padding: 13.5px;
          }

          &:hover {
            color: $thmWhite;
            background-color: $primaryColor;

            a {
              color: $thmWhite;
            }
          }

          a {
            color: $thmBlack;
            font-weight: 700;
            font-size: 12px;
          }
        }

        li.callCta {
          &:hover {
            background-color: $thmWhite;
            color: $primaryColor;
          }

          a {
            color: $primaryColor;
            font-weight: 800;
          }
          // @media (max-width: 768px) {
          //   border-top: 1px solid $thmBlack;
          // }
        }
      }
    }
  }
}

// banner
#banner {
  .bannerImage {
    height: 80vh;
    background-origin: border-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    .mySlides {
      display: none;
      width: 100%;
      height: 100%;

      .img {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        h2 {
          color: $thmWhite;
          font-size: 36px;
          width: 345px;
          padding-bottom: 30px;

          @media (max-width: 425px) {
            max-width: 290px;
            font-size: 24px;
          }
        }
      }
    }
    .dotContainer {
      position: absolute;
      bottom: 0%;
      left: 50%;
      transform: translate(-50%, -50%);

      .dot {
        height: 3px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        display: inline-block;
        transition: background-color 0.6s ease;
        cursor: pointer;
      }
    }
    .active {
      background-color: $primaryColor !important;
    }
    /* Fading animation */
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 2s;
      animation-name: fade;
      animation-duration: 2s;
    }

    @-webkit-keyframes fade {
      from {
        opacity: 0.4;
      }

      to {
        opacity: 1;
      }
    }

    @keyframes fade {
      from {
        opacity: 0.4;
      }

      to {
        opacity: 1;
      }
    }
  }
}

#aboutUs,
#joinOurTeam,
#completeSolution {
  background-image: url(../assets/pattern.png);
  background-repeat: no-repeat;
  background-position: 54% center;
  background-size: 300px;
  background-clip: border-box;
  background-blend-mode: lighten;

  @media (max-width: 768px) {
    background-position: 54% 60%;
  }

  .container {
    div {
      width: 450px;
      font-weight: 600;
      p {
        margin: 20px 0;
        font-weight: 400;
      }

      .thmbtn {
        margin-top: 40px;
        text-align: center;
      }
    }

    img {
      width: 400px;
      height: 500px;
      object-fit: cover;
      @media (max-width: 768px) {
        margin-top: 100px;
      }
      @media (max-width: 425px) {
        width: 100%;
      }
      @media (max-width: 375px) {
        width: 300px;
      }
    }
  }

  .center {
    @media (max-width: 768px) {
      justify-content: center;
    }
  }
}

#services {
  display: flex;
  flex-direction: row;

  .overlay {
    .center {
      flex-direction: column;

      .card-container {
        width: 100%;
        flex-direction: row;
        .card {
          width: 300px;
          background-color: #f9fafa;
          margin: 20px 0;

          img {
            width: 100%;
            height: 250px;
            object-fit: cover;
          }

          div {
            margin: 20px;

            h5 {
              color: $thmBlack;
              font-weight: 800;
              font-size: 18px;
              margin: 0;
              height: 30px;
            }

            p {
              color: $thmBlack;
              height: 80px;
            }
          }
        }
      }
    }
  }
}

#testimonials {
  .container {
    flex-direction: column;

    .card-container {
      width: 100%;
      flex-direction: row;

      .card {
        width: 450px;
        background-color: $thmWhite;
        border-left: $primaryColor solid 2px;
        margin: 10px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        div {
          margin: 20px;

          img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 50%;
          }

          h2 {
            font-size: 14px;
            font-weight: 600;
          }
          h3 {
            font-size: 12px;
            font-weight: 600;
          }
        }
      }
    }
  }
}

//project
#project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .projectList {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
  
    img {
      width: 300px;
      height: 400px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 10px;
      object-fit: cover;
    }
  }
}

// client
#client {
  background-image: url("../assets/pattern.png");
  background-repeat: repeat;

  .overlay {
    padding: 40px 0;

    img {
      filter: grayscale(1);
      width: 100px;
      height: auto;
      vertical-align: middle;
    }
  }
}

#getInTouch {
  background-image: url("../assets/parallex.jpg");
  background-origin: border-box;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: $thmWhite;

  .container {
    flex-direction: column;

    h3 {
      font-size: 24px;
      font-weight: 800;
      text-align: center;
    }

    p {
      text-align: center;
      color: $thmWhite;
      font-weight: 600;
      width: 460px;
      
      @media (max-width: 768px) {
        width: auto;
      }
    }
  }
}

#blog,
#valueSystem {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .card-container {
      width: 100%;
      .card {
        width: 300px;
        background-color: #f9fafa;
        margin: 10px 0;

        img {
          width: 100%;
          height: 250px;
          object-fit: cover;
        }
        div {
          margin: 20px;

          h5 {
            color: $thmBlack;
            font-weight: 800;
            font-size: 18px;
            margin: 0;
            height: 60px;
          }

          p {
            color: $thmBlack;
            height: 80px;
          }
        }
      }
    }
  }
}

//footer{
footer {
  padding: 30px 0;
  font-weight: 600;

  p {
    width: 250px;
    line-height: 20px;
    font-weight: 600;
  }

  img {
    padding-bottom: 20px;
    width: 200px;
  }

  .container.center > div {
    margin: 10px;
  }

  .container.center {
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;

    .title {
      font-size: 14px;
      font-weight: 800;
      margin: 0 0 10px;
    }
    ul.footerCTA {
      li {
        a {
          font-size: 12px;
        }
      }
    }
    .address {
      padding-bottom: 10px;
    }
    .contactDetail {
      a {
        display: block;
        font-size: 12px;
        padding: 2px 0px;
      }
    }

    .subcribe {
      margin-top: 20px;
      input {
        margin-right: -5px;
      }
    }
  }
}
// bootstrap
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  &::after {
    clear: both;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

// common style
#pageTitle {
  background-image: url("../assets/parallex.jpg");
  background-origin: border-box;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: $thmWhite;

  .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 800;

    h2 {
      font-size: 24px;
    }

    p {
      font-size: 14px;
      color: $thmWhite;
    }
  }
}
